$background-color: aliceblue;
$primary-color: darkred;
$text-color: black;

@mixin spread {
  height: 100%;
  width: 100%;
}

html,
body,
#root {
  @include spread;
  padding: 0;
  margin: 0;
}
#root {
  background-color: $background-color;
}

code {
  background-color: mix($primary-color, $background-color, 5);
  color: mix($primary-color, $text-color, 80);
  display: inline-block;
  padding: 0 0.3em;
}

a:not(.basic) {
  text-decoration: none;
  color: mix($primary-color, $text-color, 80);
  &:hover {
    text-decoration: underline;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  &.spread {
    @include spread;
  }
  &.row {
    flex-direction: row;
  }
}

.container {
  @include spread;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > div {
    min-width: 30vw;
    max-width: 1600px;
    border: 1px solid rgba(128, 128, 128, 0.3);
  }
}
.top-bar {
  background-color: $primary-color;
  color: aliceblue;
  box-lines: rgba(0, 0, 0, 0.3);
  font-size: larger;
  padding: 0 2em;
  a {
    color: aliceblue;
    text-decoration: none;
    padding: 0.3em;
    &:hover {
      background: mix($primary-color, $background-color);
      text-decoration: none;
    }
    &.active {
      color: $primary-color;
      background-color: aliceblue;
    }
  }
  .navbar {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: auto;
  }
}

.content {
  p {
    max-width: 800px;
  }
  margin: 2em;
}

.main-page-menu {
  @include spread;

  font-size: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  a {
    display: block;
    border: 1px solid;
    width: 200px;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 0 0 0 rgba(128, 128, 128, 0.5);
    transition: 0.2s;
    &:hover {
      text-decoration: none;
      box-shadow: 0 0 1em rgba(128, 128, 128, 0.5);
    }
    &:active {
      opacity: 0.6;
    }
  }
}
